<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/UCSC_Automation_Java/Day04">
        <classes>
            <class name="com.ucsc.automation.selenium.EbayEx">
                <methods>
                    <include name="searchMobilePhones"/>
                </methods>
            </class>
            <class name="com.ucsc.automation.selenium.OdelEx">
                <methods>
                    <include name="searchCapsAndHatsForWomen"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>